<div class="input-mistakes-box">
  <%= f.text_area :wrong_content, class: 'input-mistakes-box-wrong', placeholder: "Type a wrong content" %>
  <%= f.text_area :correct_content, class: 'input-mistakes-box-correct', placeholder: "Type the correct content" %>
</div>