<%# Footer navbar on all teacher's screens %>

<div class="navbar-footer">
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-student.svg') %>
  </a>
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-summary.svg') %>
  </a>
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-data.svg') %>
  </a>
  <a class="navbar-footer-icon">
    <%= image_tag ('icon-profile.svg') %>
  </a>
</div>