<div class="main-wrapper">

  <h1>------------<br>Real connexion</h1>
  <br>

  <%= link_to "Connexion", new_teacher_session_path, class: "btn txt-orange" %>

  <br><br>
  <h1>------------<br>Components</h1>

  <%= link_to root_path, method: :get do %>
    <div class="nav-logo">
      <div class="nav">
          <div class="hide"></div>
          <div class="logo">
            <span>A</span>
          </div>
          <div class="hide"></div>
      </div>
    </div>
  <% end %>

  <h1>------------<br>List of buttons</h1>

    <h2>Buttons</h2>
      <div class="flex-components">
        <button class="btn txt-orange">Connexion</button>
      </div>
      <br>
      <div class="flex-components-h">
        <button class="btn txt-orange">Flip card</button><br>
        <button class="btn txt-white">Done</button>
      </div>
      <br>
      <div class="flex-components-h">
        <button class="btn txt-grey">I didn't know</button><br>
        <button class="btn txt-white">I knew it</button>
      </div>
      <br>

    <h2>Large buttons</h2>
      <div class="flex-components">
        <button class="btn btn-large txt-white">Add a new summary</button><br>
        <button class="btn btn-large txt-white">Send the summary</button><br>
        <button class="btn btn-large txt-white">Save the summary</button>
      </div>
      <br>

    <h2>Small buttons</h2>
      <div class="flex-components-h">
        <button class="btn btn-small txt-grey">
          <i class="fas fa-chevron-left"></i>
        </button><br>
        <button class="btn btn-small txt-white">
        <i class="fas fa-plus"></i>
        </button><br>
        <button class="btn btn-small txt-orange">
          <i class="fas fa-plus"></i>
        </button><br>
        <button class="btn btn-small txt-orange">
          <i class="fas fa-pen"></i>
        </button><br>
        <button class="btn btn-small btn-inset txt-white">
          <i class="fas fa-check"></i>
        </button><br>
        <button class="btn btn-small btn-inset txt-grey">
          <i class="fas fa-times"></i>
        </button><br>
        <button class="btn btn-small txt-orange-back-white">
          <i class="fas fa-plus"></i>
        </button><br>
      </div>
      <br><br>

  <h1>------------<br>List of cards</h1>

    <h2>Student card</h2>
      <div class="d-flex justify-content-between flex-wrap">
        <div class="card-student">
          <img src="https://picsum.photos/200/300" alt="avatar" class="small-avatar">
          <div class="card-student-name">
            <p class="firstname">Arnaud</p>
            <p class="lastname">Demarre</p>
          </div>
          <div class="card-student-infos">
            <p class="flashcard">Flashcard #8</p>
            <p class="summary">Vehicles</p>
          </div>
        </div>
        <div class="card-student">
          <img src="https://picsum.photos/200/300" alt="avatar" class="small-avatar">
          <div class="card-student-name">
            <p class="firstname">Pedro</p>
            <p class="lastname">Vasquez</p>
          </div>
          <div class="card-student-infos">
            <p class="flashcard">Flashcard #3</p>
            <p class="summary">Furnitures</p>
          </div>
        </div>
      </div>
      <br>

    <h2>Summary card</h2>
      <div class="card-summary">
        <div class="card-summary-infos">
          <p class="summary">Vehicles</p>
          <p class="flashcard">Flashcard #8</p>
          <p class="date">16-02-2021</p>
        </div>
        <button class="btn btn-small btn-inset txt-grey">
          <i class="fas fa-times"></i>
        </button>
      </div>
      <div class="card-summary">
        <div class="card-summary-infos">
          <p class="summary">Shoes</p>
          <p class="flashcard">Flashcard #7</p>
          <p class="date">08-02-2021</p>
        </div>
        <button class="btn btn-small btn-inset txt-white">
          <i class="fas fa-check"></i>
        </button>
      </div>
      <br>

    <h2>Add summary card</h2>
      <div class="card-summary-add">
        <div class="card-summary-add-infos">
          <p class="summary">Add a new summary</p>
        </div>
        <button class="btn btn-small txt-orange-back-white">
          <i class="fas fa-plus"></i>
        </button>
      </div>
      <br><br>

  <h1>------------<br>List of avatars</h1>

    <h2>Small avatar (student card)</h2>
      <div>
        <img src="https://picsum.photos/200/300" alt="avatar" class="small-avatar">
      </div>
      <br>

    <h2>Large avatar (student profile)</h2>
      <div>
        <img src="https://picsum.photos/200/300" alt="avatar" class="large-avatar">
      </div>
      <br><br>

  <h1>------------<br>Inputs</h1>

    <h2>Sign in</h2>
      <div class="flex-components">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
      </div>
      <br>

    <h2>Sign up</h2>
      <div class="flex-components">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="email" placeholder="Email">
        <input type="password" placeholder="Password">
        <input type="text" placeholder="+ Photo (optional)">
      </div>
      <br>

    <h2>Search bar</h2>
      <div class="flex-components">
        <input type="text" placeholder="Write a name">
      </div>
      <br>

    <h2>New student</h2>
      <div class="flex-components">
        <input type="text" placeholder="First name">
        <input type="text" placeholder="Last name">
        <input type="text" placeholder="Phone number">
        <input type="text" placeholder="Mother language">
      </div>
      <br>

    <h2>New summary</h2>
      <div class="flex-components">
        <input type="text" placeholder="Theme">
        <input type="text" placeholder="Overview">
        <input type="text" placeholder="Vocabulary box">
        <input type="text" placeholder="Mistakes box">
        <input type="date">
      </div>
</div>
