<div class="main-wrapper">

  <br>
  <h1>List of buttons</h1>

  <br>
  <h2>Buttons</h2>
    <div class="flex-components">
      <button class="btn txt-orange">Flip card</button><br>
      <button class="btn txt-orange">Connexion</button><br>
      <button class="btn txt-grey">I didn't know</button><br>
      <button class="btn txt-white">I knew it</button><br>
      <button class="btn txt-white">Done</button><br>
    </div>

  <br>
  <h2>Large buttons</h2>
    <div class="flex-components">
      <button class="btn btn-large txt-white">Add a new summary</button><br>
      <button class="btn btn-large txt-white">Send the summary</button><br>
      <button class="btn btn-large txt-white">Save the summary</button><br>
    </div>

  <br>
  <h2>Small buttons</h2>
    <div class="flex-components">
      <button class="btn btn-small txt-grey">
        <i class="fas fa-chevron-left"></i>
      </button><br>
      <button class="btn btn-small txt-white">
      <i class="fas fa-plus"></i>
      </button><br>
      <button class="btn btn-small btn-inset txt-white">
        <i class="fas fa-check"></i>
      </button><br>
      <button class="btn btn-small txt-orange">
        <i class="fas fa-plus"></i>
      </button><br>
    </div>

  <br>
  <h1>List of cards</h1>

  <br>
  <h2>Student cards</h2>
    <div class="d-flex justify-content-between flex-wrap">
      <div class="card-student">
        <img src="https://picsum.photos/200/300" alt="avatar" class="avatar">
        <div class="card-student-name">
          <p class="firstname">Arnaud</p>
          <p class="lastname">Demarre</p>
        </div>
        <div class="card-student-infos">
          <p class="flashcard">Flashcard #8</p>
          <p class="summary">Vehicles</p>
        </div>
      </div>
      <div class="card-student">
        <img src="https://picsum.photos/200/300" alt="avatar" class="avatar">
        <div class="card-student-name">
          <p class="firstname">Pedro</p>
          <p class="lastname">Vasquez</p>
        </div>
        <div class="card-student-infos">
          <p class="flashcard">Flashcard #3</p>
          <p class="summary">Furnitures</p>
        </div>
      </div>
    </div>

  <br>
  <h2>Summary cards</h2>
    <div class="card-summary">
      <div class="card-summary-infos">
        <p class="summary">Vehicles</p>
        <p class="flashcard">Flashcard #8</p>
        <p class="date">16-02-2021</p>
      </div>
      <button class="btn btn-small btn-inset txt-grey">
        <i class="fas fa-times"></i>
      </button>
    </div>
    <div class="card-summary">
      <div class="card-summary-infos">
        <p class="summary">Shoes</p>
        <p class="flashcard">Flashcard #7</p>
        <p class="date">08-02-2021</p>
      </div>
      <button class="btn btn-small btn-inset txt-white">
        <i class="fas fa-check"></i>
      </button>
    </div>

  <br>
  <h2>Add summary cards</h2>
    <div class="card-summary-add">
      <div class="card-summary-add-infos">
        <p class="summary">Add a new summary</p>
      </div>
      <button class="btn btn-small txt-orange">
        <i class="fas fa-plus"></i>
      </button>
    </div>

</div>
