<%# Logo %>
<div class="nav-logo">
  <div class="nav">
    <div class="hide"></div>
    <div class="logo">
      <span>A</span>
    </div>
    <div class="hide"></div>
  </div>
</div>

<%# Home page content %>
<div class="main-wrapper flashcard-wrapper">
  <%# This image came from https://www.vecteezy.com/, then passed into Illustrator to get a .svg, then into Figma to make changes and export it in .png %>
  <p><%= image_tag ('hp-img.png'), class: "homepage-img" %></p>
  <h1 class="homepage-title">Welcome to Aristutor</h1>
  <h2 class="homepage-subtitle">Help your student learning faster!</h2>
  <%= link_to "Connexion", new_teacher_session_path, class: "btn txt-orange" %>
</div>
