// ---------- Small avatar for student card ----------

.small-avatar {
  width: 80px;
  height: 80px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: $text-shadow;
}

// ---------- Large avatar for student profile ----------

.large-avatar {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  box-shadow: $text-shadow;
}
