// -------------------- Buttons --------------------

.btn {
  font-size: 14px;
  font-weight: 700;
  padding: 16px 0px;
  width: 150px;
  text-align: center;
  border-radius: 50px;
  box-shadow: $white-shadow;
  i {
    font-size: 10px;
  }
}

.btn-large {
  width: 95%;
}

.btn-small {
  height: 26px;
  width: 26px;
  text-align: center;
  border-radius: 50px;
  box-shadow: $white-shadow;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0;
}

.btn-inset {
  box-shadow: $inset-shadow;
}

.btn-hidding-space {
  height: 30px;
  width: 100%;
}

// -------------------- Wording --------------------

.txt-orange {
  color: $primary-orange;
  background-color: $background-grey;
  &:hover,
  &:active,
  &:focus {
    color: $dark-orange;
    box-shadow: $white-shadow;
  }
}

.txt-orange-back-white {
  color: $primary-orange;
  background-color: white;
  &:hover,
  &:active,
  &:focus {
    color: $dark-orange;
    box-shadow: $white-shadow;
  }
}

.txt-grey {
  color: $grey;
  background-color: $background-grey;
  &:hover,
  &:active,
  &:focus {
    color: $dark-grey;
    box-shadow: $white-shadow;
  }
}

.txt-white {
  color: white;
  background-color: $primary-orange;
  &:hover,
  &:active,
  &:focus {
    color: white;
    background-color: $dark-orange;
    box-shadow: $white-shadow;
  }
}
