// ---------- Buttons ----------

.btn {
  font-size: 14px;
  font-weight: 700;
  padding: 12px 24px;
}

.txt-orange {
  color: $primary-orange;
}

.txt-grey {
  color: $grey;
}

.txt-white {
  color: white;
}
