// -------------------- Student cards --------------------

.cards-students {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;

  &-data {
    box-shadow: $inset-shadow;
    display: flex;
    justify-content: space-between;
    padding-top: 10px;
    border-radius: 50px;

    &-figures {
      width: 50%;
      h1 {
        color: $dark-orange;
        text-shadow: $text-shadow;
      }
    }
  }
}

.card-student {
  margin: 12px 0px;
  width: 47%;
  padding: 20px;
  background-color: $medium-grey;
  box-shadow: $white-shadow;
  border-radius: 8px;

  p {
    margin: 0;
  }

  p::first-letter {
    text-transform: capitalize;
  }

  &-name {
    margin: 12px 0;

    .firstname {
      font-size: 12px;
      font-weight: 500;
      letter-spacing: 0.2em;
      color: $grey;
      text-transform: uppercase;
    }

    .lastname {
      font-size: 16px;
      font-weight: 700;
      letter-spacing: 0.13em;
      color: $dark-grey;
      text-transform: uppercase;
      margin-top: -5px;
    }
  }

  &-infos {
    .summary {
      font-weight: 600;
      color: $dark-grey;
    }
  }
}

.student-information {
  color: $grey;
  font-weight: 400;
  margin-top: 10px;
  margin-bottom: 15px;
}

.cards-students-data {
  margin-bottom: 20px;
  &-figures {
    p {
      font-size: 12px;
      margin: 0;
      padding: 0;
    }
  }
}

// -------------------- Summary cards --------------------

.card-summary {
  margin: 12px 0px;
  width: 100%;
  padding: 20px;
  background-color: $medium-grey;
  box-shadow: $white-shadow;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  p {
    margin: 0;
  }

  p::first-letter {
    text-transform: capitalize;
  }

  &-infos {
    width: 100%;

    .summary {
      font-weight: 600;
      color: $dark-grey;
      padding-bottom: 4px;
    }

    .summary-box {
      display: flex;
      justify-content: space-around;
      align-items: center;
      text-shadow: $text-shadow;

      &-word {
        font-weight: 600;
        color: $grey;
        width: 50%;
        text-align: center;
      }

      &-translation {
        font-weight: 600;
        color: $dark-grey;
        width: 50%;
        text-align: center;
      }

      &-wrong {
        font-weight: 600;
        color: $wrong-red;
        width: 50%;
        text-align: center;
      }

      &-correct {
        font-weight: 600;
        color: $correct-green;
        width: 50%;
        text-align: center;
      }
    }
  }
}

// -------------------- Add summary cards --------------------

.card-summary-add {
  margin: 12px 0px;
  width: 100%;
  padding: 20px;
  background-color: $primary-orange;
  box-shadow: $white-shadow;
  border-radius: 8px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;

  p {
    margin: 0;
  }

  &-infos {
    .summary {
      font-weight: 700;
      color: white;
    }
  }
}
