// ---------- Flashcards wrapper ----------

.flashcard-wrapper {
  margin-top: 40px;
}

// -------------------- Flashcard background --------------------

.flashcard-wrapper {
  input {
    border-radius: 0px;
    border-bottom: 1px solid $grey;
    box-shadow: $text-shadow;
    text-align: center;
    font-size: 20px;
  }
  .flip-card {
    margin-top: 60px;
  }
  .choice-card {
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
  }
}

// -------------------- Flashcard header --------------------

.counter-flashcard {
  margin-bottom: 0px !important;
}

.current-flashcard {
  font-size: 20px;
}

.flashcard-title {
  text-shadow: $text-shadow;
  font-weight: 700;
  margin-top: 20px;
  font-size: 30px;
  margin-top: 0px;
  margin-bottom: 10px;
}

.bar {
  margin: 0 auto;
  width: 80%;
  height: 6px;
  border-radius: 0.5em;
  background: lighten($grey, 15%);
}

.bar .percentage {
  width: 1%;
  background: $primary-orange;
  height: 6px;
  border-radius: 0.5em;
}

// -------------------- Flashcard question --------------------

.flashcard-question {
  margin-top: 40px;
  margin-bottom: 20px;
}

.flashcard-instruction {
  color: $grey;
  font-size: 14px;
  font-weight: 600;
  text-shadow: $text-shadow;
  margin-top: 10px;
  margin-bottom: 5px;
}

.flashcard-word {
  color: $dark-grey;
  font-size: 20px;
  font-weight: 600;
  text-shadow: $text-shadow;
  margin-top: 0px;
  margin-bottom: 10px;
}

// -------------------- Flashcard answer --------------------

.flashcard-answer {
  margin-top: 20px;
  margin-bottom: 10px;
}

.flashcard-answer-verso {
  margin-top: 20px;
  margin-bottom: 10px;
  text-shadow: $text-shadow;
}

// -------------------- Flashcard return --------------------

.animate {
  animation: fadeDown 0.75s;
  animation-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  animation-fill-mode: forwards;
}

@keyframes fadeDown {
  0% {
    margin-top: 140px;
    opacity: 1;
  }

  50% {
    margin-top: 1000px;
    opacity: 0;
  }

  100% {
    margin-top: 40px;
    opacity: 1;
  }
}

// -------------------- Flashcard completed --------------------

.flashcard-completed {
  margin-top: 150px;
  &-title {
    font-weight: 700;
  }
}

.flashcard-completed-message {
  margin-top: 20px;
  color: $dark-orange;
  text-shadow: $text-shadow;
  font-weight: 700;
  font-size: 46px;
}

// -------------------- Flashcard completed animation --------------------

h1 {
  font-size: 36px;
  display: inline-block;
}

span {
  margin: 0;
  padding: 0;
}

@keyframes bounce1 {
  0% {
    transform: translateY(180px) perspective(550px) rotateY(360deg);
  }
  50% {
    transform: translateY(0px);
    animation-timing-function: ease-in;
  }
  55% {
    transform: translateY(20px);
  }
  100% {
    transform: translateY(0px) perspective(550px) rotateY(360deg);
  }
}

.fancy_title {
  margin-top: -150px;
}

.bounce {
  animation: bounce1 1.5s cubic-bezier(0, 1.3, 0.5, 1.3) alternate;
  animation-fill-mode: forwards;
  animation-iteration-count: 2;
}

.fancy_title h1:nth-child(1) > span {
  animation-delay: 0.04s;
}

.fancy_title h1:nth-child(2) {
  animation-delay: 0.08s;
}

.fancy_title h1:nth-child(3) {
  animation-delay: 0.12s;
}

.fancy_title h1:nth-child(4) {
  animation-delay: 0.16s;
}

.fancy_title h1:nth-child(5) {
  animation-delay: 0.2s;
}

.fancy_title h1:nth-child(6) {
  animation-delay: 0.24s;
}

.fancy_title h1:nth-child(7) {
  animation-delay: 0.28s;
}

.fancy_title h1:nth-child(8) {
  animation-delay: 0.32s;
}

.fancy_title h1:nth-child(9) {
  animation-delay: 0.36s;
}
