// ---------- Flashcard ----------

.flashcard-wrapper {
  input {
    border-radius: 0px;
    border-bottom: 1px solid $grey;
    box-shadow: $text-shadow;
  }
  .flip-card {
    margin-top: 60px;
  }
}

.bar {
  margin: 0 auto;
  width: 80%;
  height: 6px;
  border-radius: 0.5em;
  background: lighten($grey, 15%);
}

.bar .percentage {
  width: 1%;
  background: $primary-orange;
  height: 6px;
  border-radius: 0.5em;
}

.current-flashcard {
  font-size: 20px;
}

.counter-flashcard {
  margin-bottom: 0px !important;
}

// ---------- Flashcard return ----------

.animate {
  animation: fadeDown .75s ;
  animation-timing-function:cubic-bezier(0.4, 0.0, 0.2, 1);
  animation-fill-mode:forwards;
}

@keyframes fadeDown {
  0% {
    margin-top:140px;
    opacity:1;
  }

  50% {
    margin-top:1000px;
    opacity:0;
  }

  100% {
    margin-top:140px;
    opacity:1;
  }
}
