// -------------------- Forms --------------------

input {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  width: 100%;
  text-align: left;
  border-radius: 50px;
  background-color: $background-grey;
  box-shadow: $inset-shadow;
  border: none;
  margin: 12px 0;
  color: $grey;
}

input:focus {
  border:none;
  outline:none;
}

::-webkit-input-placeholder {
  color: $grey;
}

/* Search forms */

.form-search {
  display:flex;
  position:relative;
  button {
    border: none;
    background: transparent;
    position: absolute;
    right: 8px;
    top: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #ffbd59;
  }
}


.teacher_remember_me {
  display:none;
}

.form-actions {
  text-align: center;
}