// -------------------- Forms --------------------

input, textarea {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  width: 100%;
  text-align: left;
  border-radius: 50px;
  background-color: $background-grey;
  box-shadow: $inset-shadow;
  border: none;
  margin: 12px 0;
  color: $grey;
}

textarea {
  border-radius:15px;
}

select {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  width: 100%;
  text-align: left;
  border-radius: 50px;
  background-color: $background-grey;
  box-shadow: $inset-shadow;
  border: none;
  margin: 12px 0;
  color: $grey;
}

.input-title {
  font-weight: 600;
  font-size: 12px;
  color: $dark-grey;
  text-align: left;
  padding-top: 10px;
}

.input-words-box {
  display: flex;
  justify-content: space-between;
  align-content: center;

  &-word {
    color: $grey;
    margin-right: 5px;
  }

  &-translation {
    color: $dark-grey;
    margin-left: 5px;
  }
}

.mistake-title {
  display:flex;
  justify-content: space-between;
  align-items:center;
}

.input-mistakes-box {
  display: flex;
  justify-content: space-between;
  align-content: center;

  &-wrong {
    border: 1px solid $wrong-red;
    color: $wrong-red;
    margin-right: 5px;
  }

  &-correct {
    border: 1px solid $correct-green;
    color: $correct-green;
    margin-left: 5px;
  }
}

input:focus, textarea:focus, .input-title:focus, .input-mistakes-box:focus {
  border:none;
  outline:none;
}

input:focus {
  color: $dark-grey;
}

.fake_input {
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  width: 100%;
  text-align: left;
  border-radius: 50px;
  background-color: $background-grey;
  box-shadow: $inset-shadow;
  border: none;
  margin: 12px 0;
  color: $grey;
}

::-webkit-input-placeholder {
  color: $grey;
}

// -------------------- Search forms --------------------

.form-search {
  display:flex;
  position:relative;
  button {
    border: none;
    background: transparent;
    position: absolute;
    right: 8px;
    top: 20px;
    font-size: 20px;
    width: 40px;
    height: 40px;
    color: #ffbd59;
  }
}


.teacher_remember_me {
  display:none;
}

.form-actions {
  text-align: center;
}
