// Grey main wrapper up to the orange background

.main-wrapper {
  width: calc(100vw - 8px);
  background-color: $background-grey;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 24px;
  border-radius: 50px 50px 0 0;
  margin-bottom: 100px;
}
