// ---------- Navbar footer ----------

.navbar-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  margin: 0 auto;
  padding: 54px 24px 32px 24px;

  position: fixed;
  bottom: 0;
  left: 4px;
  width: calc(100vw - 8px);
  background: linear-gradient(
    0deg,
    #f5f5f5 39.27%,
    rgba(243, 243, 243, 0) 89.87%
  );

  &-icon {
    height: 60px;
    width: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 8px;
    background-color: $background-grey;
    box-shadow: $white-shadow;
    .img {
      color: $dark-grey;
    }
  }
}

// ---------- Header ----------

.nav {

  .hide {
    width: 26px;
  }

  &-logo {
    margin-top: 50px;
  }
}
