// Grey main wrapper up to the orange background

.main-wrapper {
  width: calc(100vw - 8px);
  min-height: 100vh;
  background-color: $background-grey;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
  margin-top: 24px;
  border-radius: 50px 50px 0 0;
  padding-bottom: 100px;
}


.sign-wrapper {
  width: calc(100vw - 8px);
  padding: 20px;
  margin: 0 auto;
  background:$background-grey;
  border-radius: 0 0 50px 50px;
}

.flashcard-wrapper {
  margin-top: 140px;
}

.teacher_photo {
  display: none;
}

.fake_input {
  display: flex;
  font-size: 14px;
  font-weight: 400;
  padding: 16px;
  width: fit-content;
  text-align: left;
  border-radius: 50px;
  background-color: #f1f1f1;
  box-shadow:$inset-shadow;
  border: none;
  margin: 12px auto;
  color: #b3b3bb;
  align-items: center;
  
  label {
    display: flex;
    align-items: center;
    margin: 0;
  }
  .fa-plus {
    position: absolute;
  }
  p {
    margin-left: 10px;
    margin-bottom: 0;
  }
}