// Graphical variables

@import "config/colors";
@import "config/fonts";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  background-color: $primary-orange;
}

.flex-components {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.flex-components-h {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

a:active, a:hover {
  text-decoration:none;
}